<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Congrats</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        body{
            background-image: url("https://cdn2.vectorstock.com/i/1000x1000/85/41/cartoon-children-play-with-soap-bubbles-vector-20568541.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .help{
            background: rgba(255, 255, 255, 0.8);
            border: 2px solid darkgray;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container mt-5 " style="margin-bottom: 250px;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 help">
            <div class="h3" style="font-family: 'Brush Script MT'; color: cornflowerblue;">
                Сертификат за успешно завршена серија од вежби!
            </div>
            <br/>
            <br/>
            <div style="font-family: 'Brush Script MT'">
                Овој сертификат е наменет за вас, поради успешното комплетирање на серија со вежби.
            </div>
            <div style="font-family: 'Brush Script MT'">
                Продолжете понатаму со вежбање!
            </div>
            <br/>
            <br/>
            <div class="h3" style="font-family: 'Brush Script MT'; color: cornflowerblue;">
                БРАВО!
            </div>
            <audio controls autoplay id="bravoAudio" src="../static/images/bravo.mp3"  th:src="@{images/bravo.mp3}" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        //autoplay rabote samo kaj edge kaj chrome nz oti nejke :(
        var audio = $('#bravoAudio').get(0);
        audio.play()
    });
</script>
</body>
</html>