<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Congrats</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        .col-help {
            width: 100%;
            height: 100%;
        }

        .header-style {
            color: #fe968b;
            font-size: 3vw;
            font-family: Impact;
        }

        .text-style {
            font-size: 1.5vw;
        }

        dt {
            font-size: 2vw;
        }
    </style>
</head>
<body>
<div class="container mt-3 mb-5 " xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-12 col-help">
            <div class="bgContainer rounded text-white mr-5 ml-5 pt-3 pb-5 pr-5 pl-5"
                 style="background: cornflowerblue; box-shadow: 10px 10px 30px grey; text-align: justify; text-justify: inter-word;">
                <h2 class="text-center header-style display-4 text-white">Помош</h2>
                <hr style="background: linear-gradient(.25turn,darkmagenta, #e86f00, darkolivegreen);border:0; height:3px;"/>
                <div class="w3-container w3-animate-zoom">
                    <div class="row justify-content-center">
                        <div class="mt-2">
                            <img style="border-radius: 50%; height: 160px; max-width: 190px;"
                                 src="https://i.pinimg.com/originals/2e/86/d6/2e86d64a1d1f941b34fb22c830d2a862.gif">
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <p class="header-style">МОЈ ВОДИЧ ЗА ФИЗИЧКО ЗДРАВЈЕ</p>
                    </div>
                    <!--------------------- ИНФОРМАЦИИ ------------------------------>
                    <div class="row mt-3 justify-content-center text-white">
                        <div class="col-10 pr-2">
                            <dl class="text-style">
                                <dt>ЗА КОГО:</dt>
                                <dd>
                                    Оваа апликација е наменета за <b>лица со физички ослабнувања</b>,
                                    кои ќе може да разгледуваат најразлични вежби.
                                    <br><br>
                                </dd>
                                <dt>НАЧИН НА КОРИСТЕЊЕ:</dt>
                                <dd>
                                    Откако ќе се најавите на апликација со внес на вашето <b>корисничко име и
                                    лозинка</b> преку
                                    тастатура или микрофон
                                    пренасочени сте на почетната страница. <br><br>
                                    При клик на копчето <b>ЗАПОЧНИ</b> или <b>клик на ЕНТЕР</b> на почетната страница,
                                    ВАМ ќе ви биде побарано да се логирате со
                                    вашето корисничко име и лозинка доколку претходно не сте го сториле тоа,
                                    т.е. директно сте пристапиле овде.<br><br>
                                    Потоа ќе бидете пренасочени на <b>КАТЕГОРИИТЕ на вежби</b>, каде ќе може да ја
                                    изберете
                                    вашата цел.<br>
                                    Во делот <b>ПОТСЕТНИК</b> чуваме информации кои вежби ги имате правено и ви даваме
                                    соодветна
                                    препорака
                                    за што да правите следно.<br><br>
                                    При клик на <b>ВИДИ ГИ ВЕЖБИТЕ</b> на некоја од категориите или со внес на број од
                                    тастатура
                                    на означеното место, или со клик на некоја од буквите 'a, s, d, f, g'
                                    вие ќе ги видите понудените ВЕЖБИ од соодветна КАТЕГОРИЈА и
                                    ќе може да започнете со вежбање.
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="display-1 text-center">
                        <p class="header-style">УЖИВАЈТЕ!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>